@custom-media --mobile (width <= 650px);
@custom-media --not-mobile (width >= 651px);

:root {
  /**
   * 选中器颜色
   */
  --selectionColor: #e1f2ff;
  --inlineSelectionColor: #d4ecff;

  /**
   * 工具栏按钮
   */
  --bg-light: #eff2f5;

  /**
   * 所有灰色文本：占位符设置
   */
  --grayText: #707684;

  /**
   * 灰色图标悬停
   */
  --color-dark: #1D202B;

  /**
   * 失焦图片
   */
  --color-active-icon: #388AE5;

  /**
   * 灰色边框, 加载
   */
  --color-gray-border: rgba(201, 201, 204, 0.48);

  /**
   * 块内容宽度
   * 应该在 modules/ui.js 中设置一个常量
   */
  --content-width: 650px;

  /**
   * 在窄模式下，我们增加包含“阻止动作”按钮的右侧区域
   */
  --narrow-mode-right-padding: 50px;

  /**
   * 工具栏按钮的高度和宽度
   */
  --toolbar-buttons-size: 34px;

  /**
   * 工具栏加按钮和工具箱按钮的高度和宽度
   */
  --toolbox-buttons-size: 34px;

  /**
   * 确认删除背景
   */
  --color-confirm: #E24A4A;

  --overlay-pane: {
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-shadow: 0 3px 15px -3px rgba(13,20,33,0.13);
    border-radius: 4px;
    z-index: 2;

    @media (--mobile){
      box-shadow: 0 13px 7px -5px rgba(26, 38, 49, 0.09),6px 15px 34px -6px rgba(33, 48, 73, 0.29);
      border-bottom-color: #d5d7db;
    }

    &--left-oriented {
      &::before {
        left: 15px;
        margin-left: 0;
      }
    }

    &--right-oriented {
      &::before {
        left: auto;
        right: 15px;
        margin-left: 0;
      }
    }
  };

  /**
   * 工具箱按钮和加号按钮的样式
   */
  --toolbox-button: {
    color: var(--grayText);
    cursor: pointer;
    width: var(--toolbox-buttons-size);
    height: var(--toolbox-buttons-size);
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &--active {
      color: var(--color-active-icon);
    }

    &--active{
      animation: bounceIn 0.75s 1;
      animation-fill-mode: forwards;
    }

  };

  /**
   * 工具栏中的设置按钮样式
   */
  --toolbar-button: {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    line-height: 34px;
    padding: 0 !important;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    border: 0;
    outline: none;
    background-color: transparent;
    vertical-align: bottom;
    color: #000;
    margin: 0;

    &:hover {
      background-color: var(--bg-light);
    }

    &--active {
      color: var(--color-active-icon);
    }

    &--focused {
      box-shadow: inset 0 0 0px 1px rgba(7, 161, 227, 0.08);
      background: rgba(34, 186, 255, 0.08) !important;

      &-animated {
        animation-name: buttonClicked;
        animation-duration: 250ms;
      }
    }
  };
}
